body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

section#chatStage {

}

.hidden {
    display: none;
}

#chat .textMsg {
    border: 1px solid black;
    border-radius: 5px;
}

#chat .other {
    text-align: right;
}

