body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

section#chatStage {

}

.hidden {
    display: none;
}

#chat .textMsg {
    display: grid;
    justify-self: start;
    justify-content: start;
    align-self: right;
    text-align: left;
    width: 45%;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#chat .other{
    display: grid;
    justify-self: end;
    justify-content: end;
    align-self: left;
    text-align: right;
    width: 45%;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
}

/* .username {
    padding-bottom: 2px;
    text-align: inherit;
    width: 50%;
} */

canvas {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 10px;
    border-width: 3px;
    border-style: inset;
}