body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

section#chatStage {

}

.hidden {
    display: none;
}

#chat .textMsg {
    display: flex;
    justify-self: start;
    justify-content: start;
    text-align: left;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#chat .other {
    display: flex;
    justify-self: end;
    justify-content: end;
    text-align: right;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
}

