/* CSS HSL */
:root {
    --indigo: hsla(287, 100%, 23%, 1);
    --vivid-orchid: hsla(309, 100%, 43%, 1);
    --royal-orchid-opacity: hsla(289, 100%, 31%, 0.75);
    --royal-orchid: rgba(129, 0, 158, 1);
    --crimson-violet: rgb(82, 0, 68);
    --crimson-violet-opacity: hsla(310, 100%, 16%, 0.75);
    --crimson-violet-opactiy-glass: hsla(310, 100%, 16%, 0.10);
    --midnight-violet-opacity: rgba(36, 0, 30, 0.757);
    --midnight-violet: rgba(36, 0, 30, 1);
    --indigo-2: hsla(276, 100%, 23%, 1);
    --white-grey: rgb(225, 225, 225);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/1qltq5uehmr71.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 150vh;
    width: 100%;
    margin: 0;
    font-family: DM sans, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: 300;
    color: var(--white-grey);
}

h1 {
    position: absolute;
    top: 0;
    margin: 30px 0 10px 0;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.divMainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 60vh;
    background: var(--crimson-violet-opactiy-glass);
    box-shadow: 0 8px 30px 0 var(--crimson-violet);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid var(--crimson-violet-opacity);
    border-radius: 40px 0px 40px 0px;
    margin: auto;
}

/* .loginCanvas {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    align-items: center;
} */

input {
    font-size: 14px;
    padding: 10px;
    margin: 3px;
    font-weight: 600;
    background-color: var(--midnight-violet-opacity);
    color: var(--white-grey);
    border: var(--indigo) 2px solid;
}

#username {
    border-radius: 20px 5px 0px 0px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.506);
}

#loginBtn {
    border-radius: 0px 0px 20px 5px;
    cursor: pointer;
    position: relative;
    z-index: 101;
    background-color: var(--crimson-violet-opacity);
}

#logoutBtn {
    border-radius: 5px;
}

#formUsername {
    display: flex;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#usernameDiv p {
    text-align: center;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: column;
}

#usernameDiv {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding: 2px;
    margin: 5px;
}

li {
    list-style: none;
    width: 100%;
    margin: 2px;
    text-align: center;
}

#chatStage {
    flex-direction: column;
    justify-content: center;
}

.chatInputDiv {
    align-self: center;
}

#chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

#chat .textMsg,
#chat .other {
    font-size: 14px;
    font-weight: 200;
    z-index: 1;
    width: 60%;
    max-width: 500px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(99, 33, 101, 0.751);
}

#chat .username {
    font-size: 16px;
    font-weight: 500;
}

#chat time {
    font-size: 12px;
}

#chat .textMsg {
    align-self: flex start;
}

#chat .other {
    align-self: flex-end;
    text-align: right;
}

/* .username {
    padding-bottom: 2px;
    text-align: inherit;
    width: 50%;
} */

canvas {
    /* display: block !important; */
    margin: 1px;
    width: 95% !important;
    height: 60vh !important;
    max-height: 500px;
    border: 1px solid rgb(151, 151, 151);
    background-color: white;
    opacity: 75%;
    border-radius: 10px;
    border-width: 3px;
    border-style: inset;
    touch-action: none;
    /* pointer-events: none; */
    /* visibility: visible !important; */
}

.hidden {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}