body {
    background: url(../assets/images/1qltq5uehmr71.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: rgb(225, 225, 225);
}

.loginCanvas {
    align-items: center;
}

input {
    padding: 10px;
    margin: 3px;
    background-color: rgba(99, 33, 101, 0.413);
    color: white;
}

#username {
    border-radius: 20px 5px 0px 0px;
}

input[type="submit"] {
    border-radius: 0px 0px 20px 5px;
}

#formUsername {
    display: flex;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#usernameDiv p {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

#usernameDiv {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding: 2px;
    margin: 5px;
}

li {
    list-style: none;
    width: 100%;
    margin: 2px;
    text-align: center;
}

#chatStage {
    flex-direction: column;
    justify-content: center;
}

.chatInputDiv {
    align-self: center;
}

#chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

#chat .textMsg, #chat .other {
    z-index: 1;
    width: 60%;
    max-width: 500px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(99, 33, 101, 0.751);
}

#chat .textMsg {
    align-self: flex start;
}

#chat .other{
    align-self: flex-end;
    text-align: right;
}

/* .username {
    padding-bottom: 2px;
    text-align: inherit;
    width: 50%;
} */

canvas {
    /* display: block !important; */
    margin: 1px;
    width: 95% !important;
    height: 500px !important;
    border: 1px solid rgb(151, 151, 151);
    background-color: white;
    opacity: 75%;
    border-radius: 10px;
    border-width: 3px;
    border-style: inset;
    /* visibility: visible !important; */
}

.hidden {
    display: none !important;
}